<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Check-in & Check-out">
    <meta name="keywords" content="hotelaria, hospedagem, perto de tudo, Shopping Müller, quartos para alugar, hotel, flat, cafeteria">
    <meta name="author" content="Douglas Paulo Cortes">
    <title>Homepage</title>
</head>
<body>
    <p><a href="../homepage.html">Seja Bem-Vindo</a></p>
    <p><a href="../sobrenos.html">Sobre Nós</a></p>
    <P><a href="../hospedagem.html">Hospedagem</a></P>
    <p><a href="../cafeartepasseio.html">Café Passeio</a></p>
    <p><a href="../sejaatendido.html">Seja Atendido</a></p>
    <p><a href="../intranet.html">Intranet</a></p>
</body>
</html>