<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosso lar é seu</title>
</head>
<body>
  <h1>Hotel Miller</h1>
  <ul>
      <li>AP 102</li>
      <li>AP 103</li>
      <li>AP 104</li>
      <li>AP 201</li>
      <li>AP 202</li>
      <li>AP 203</li>
      <li>AP 204</li>
      <li>AP 301</li>
      <li>AP 302</li>
      <li>AP 303</li>
      <li>AP 304</li>
      <li>AP 401</li>
      <li>AP 402</li>
      <li>AP 403</li>
      <li>AP 404</li>
      <li>AP 501</li>
      <li>AP 502</li>
      <li>AP 503</li>
      <li>AP 504</li>
      <li>AP 501</li>
      <li>AP 502</li>
      <li>AP 503</li>
      <li>AP 504</li>
      <li>AP 601</li>
      <li>AP 602</li>

  </ul>
  <h2>Nosso Banco</h2>
  <h3>Sinval Martins</h3>
  <h4>Marechal</h4>
  <p><a href="../homepage.html">Página Principal</a></p>
</body>
</html>