<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intranet</title>
</head>
<body>
    <p>Seja bem vindo a área de serviços</p>
    <p><a href="../hospede.html">Sou Hospede</a></p>
    <p><a href="../administrador.html">Sou Administrador</a></p>
    <p><a href="../associado.html">Sou Associado</a></p>
    <p><a href="../atendente.html">Sou Funcionário</a></p>
    <p><a href="../homepage.html">Página Principal</a></p>
</body>
</html>