<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Novos Apartamentos</title>
</head>
<body>
    <form method="POST" action="/registrar_apartamento">
    <label for="Endereco">Endereço:</label>
    <input type="text" name="Endereco" id="Endereco" required>

    <label for="Numerodoquarto">Número do Quarto:</label>
    <input type="text" name="NumerodoQuarto" id="NumerodoQuarto" required>

    <label for="Andar">Andar:</label>
    <input type="text" name="Andar" id="Andar" required>

    <label for="Proprietario">Proprietário:</label>
    <input type="text" name="Proprietario" id="Proprietario" required>

    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" id="cpf" required>

    <label for="DatadeNascimento">Data de Nascimento:</label>
    <input type="text" name="DatadeNascimento" id="DatadeNascimento" required>

    <label for="Telefone">Telefone:</label>
    <input type="text" name="Telefone" id="Telefone" required>

    <label for="DatadeRegistro">DatadeRegistro:</label>
    <input type="text" name="DatadeRegistro" id="DatadeRegistro" required>

    <button type="submit">Registrar Apartamento</button>
    </form>
    <p><a href="../paginamanager.html">Página Gerente</a></p>
    <p><a href="../registrarhospede.html">Página para registro de locações</a></p>
</body>
</html>